* {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box; }

.btn {
  letter-spacing: 4px;
  padding: 0.3rem 2rem;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  transition: all 0.2s ease-in-out; }
  .btn__links--singup:hover {
    color: #d12e2e;
    border: 1px solid #d12e2e; }
  .btn__links--login:hover {
    color: yellowgreen;
    border: 1px solid yellowgreen; }
  .btn__header {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 15px;
    margin-top: 2rem;
    border: 2px solid #fff; }
    .btn__header:hover {
      color: #d12e2e;
      border: 2px solid #d12e2e; }
  .btn--view {
    font-size: 0.7rem;
    padding: 0.5rem 1rem; }
    .btn--view:hover {
      background-color: #1f91ee; }
  .btn--like {
    font-size: 0.7rem;
    padding: 0.5rem 1rem; }
    .btn--like:hover {
      background-color: #d12e2e; }

.cards {
  justify-self: center;
  border: 1px solid #b9b9b9;
  border-radius: 3px;
  width: auto; }
  .cards__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 6rem;
    grid-auto-flow: row;
    align-self: center;
    padding: 6rem; }
  .cards__img {
    height: 15rem;
    width: auto;
    border-radius-top: 3px;
    padding: 0;
    margin: 0; }
  .cards__title {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0.5rem;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 0.3rem;
    background-color: #b9b9b9;
    width: auto; }
  .cards__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50px);
    background-color: white;
    grid-gap: 1rem;
    width: auto; }
  .cards__button {
    background-color: #d12e2e;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 0.3rem;
    font-size: 1rem;
    border-radius-bottom: 3px;
    width: auto; }
    .cards__button:hover {
      background-color: #640000; }
  .cards__option {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-family: "Lato", sans-serif;
    color: #b9b9b9;
    width: auto; }
    .cards__option svg {
      height: 1.2rem;
      width: 1.2rem;
      padding-right: 0.5rem;
      fill: #b9b9b9; }

.footer {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 50%));
  grid-template-rows: 3rem 8rem 3rem;
  grid-gap: 2rem;
  align-content: center;
  justify-content: center;
  background-image: linear-gradient(to right, #353131, #000);
  clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0 100%, 0 15%);
  width: 100%; }
  .footer__logo {
    grid-column: 1/ -1;
    justify-self: center;
    align-self: center; }
  .footer__nav {
    justify-self: center;
    align-self: center;
    list-style-type: none;
    margin-left: 1rem; }
  .footer__links {
    display: inline-block;
    font-size: 1.5rem;
    transition: all 0.3s; }
    .footer__links:hover {
      transform: translateY(-0.3rem) scale(1.03); }
    .footer__links:not(:last-child) {
      margin-right: 2rem; }
  .footer__items {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 0.2rem;
    transition: all 0.3s; }
    .footer__items:hover {
      color: #d12e2e; }
  .footer__description {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-self: center;
    justify-items: center; }
  .footer__title {
    color: #fff;
    text-transform: uppercase;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 0.2rem; }
  .footer__text {
    list-style-type: none;
    font-size: 0.8rem;
    margin-top: 0.5rem; }
    .footer__text--items:not(:last-child) {
      margin-bottom: 0.4rem; }
    .footer__text--link {
      color: #b9b9b9;
      text-decoration: none; }
    .footer__text--icons {
      display: inline-block;
      font-size: 1rem; }
      .footer__text--icons:not(:last-child) {
        padding-right: 0.4rem; }
  .footer__icon {
    padding-right: 0.3rem; }
  .footer__social {
    display: inline-block; }
  .footer__copyright {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center; }
  .footer__paragraph {
    color: #b9b9b9;
    font-size: .8rem; }

.gallery {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem;
  margin-bottom: 10rem; }
  .gallery__item--1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2; }
  .gallery__item--2 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 3; }
  .gallery__item--3 {
    grid-row: 1 / span 2;
    grid-column: 6 / span 1; }
  .gallery__item--4 {
    grid-row: 1 / span 2;
    grid-column: 7 / span 2; }
  .gallery__item--5 {
    grid-row: 3 / span 3;
    grid-column: 1 / span 2; }
  .gallery__item--6 {
    grid-row: 4 / span 2;
    grid-column: 3 / span 2; }
  .gallery__item--7 {
    grid-row: 4 / span 1;
    grid-column: 5 / span 1; }
  .gallery__item--8 {
    grid-row: 3 / span 2;
    grid-column: 6 / span 2; }
  .gallery__item--9 {
    grid-row: 3 / span 3;
    grid-column: 8 / span 1; }
  .gallery__item--10 {
    grid-row: 6 / span 2;
    grid-column: 1 / span 1; }
  .gallery__item--11 {
    grid-row: 6 / span 2;
    grid-column: 2 / span 2; }
  .gallery__item--12 {
    grid-row: 6 / span 2;
    grid-column: 4 / span 1; }
  .gallery__item--13 {
    grid-row: 5 / span 3;
    grid-column: 5 / span 3; }
  .gallery__item--14 {
    grid-row: 6 / span 2;
    grid-column: 8 / span 1; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(/img/photo-1.webp);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); }
  .header__title {
    color: #fff;
    font-size: 2rem;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 0.7rem;
    margin-top: 13rem;
    width: 100%; }
  .header__subtitle {
    color: #fff;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 1.2rem;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem; }

.fas {
  font-size: 0.9rem;
  padding-right: 0.5rem; }

.discover-section {
  height: auto;
  background-color: #fff; }

.objects-section {
  display: grid;
  margin: 8rem 3rem;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 1rem;
  width: auto;
  grid-gap: 1rem;
  justify-items: center; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  width: 100%; }
  .nav__logo {
    color: #fff;
    font-family: "Major Mono Display", monospace;
    cursor: pointer;
    padding-left: 0.5rem; }
  .nav__span {
    color: #d12e2e;
    font-size: 1.2rem; }
  .nav__list {
    list-style: none;
    margin-left: 8rem;
    margin-top: 0.2rem; }
  .nav__item {
    display: inline-block;
    text-transform: uppercase; }
  .nav__item:not(:last-child) {
    padding-right: 3rem; }
  .nav__links {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 3px;
    transition: all 0.2s ease-in-out; }
    .nav__links:hover {
      color: #d12e2e; }
  .nav__btn {
    padding-right: 0.5rem; }

.objects {
  width: 100%;
  display: flex; }
  .objects__img {
    height: 17rem;
    width: 17rem;
    object-fit: cover; }
    .objects__img:hover {
      -webkit-filter: brightness(80%);
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      transition: all 0.4s ease; }
  .objects__description {
    background-image: linear-gradient(to right, #353131, #000);
    padding: 1rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 0.3rem; }

/*&:hover {
  -webkit-filter: brightness(80%);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}*/
