$color-primary: #d12e2e;
$color-primary-2: #640000;
$color-white: #fff;
$color-black: #000;
$color-black-2: rgb(53, 49, 49);
$color-blue: #1f91ee;
$color-grey: rgb(185, 185, 185);

$bp-largest: 75em;
$bp-large: 62.5em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
$bp-smallest: 31.25em;

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: $color-black;
}

html {
  font-size: 62.5%;
}
